[Unit]
Description=OpenSSH %i Server Key Generation
ConditionFileNotEmpty=|!/etc/ssh/ssh_host_%i_key
After=haveged.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/sshd-keygen %i

[Install]
WantedBy=sshd-keygen.target
